

  <div class="card-defaut m-3 card-overview-wrap" style="width: 18rem;">
    <%# <div class="wrap d-flex justify-content-between"> %>
    <h4 class="card-overview-title"><%= recipe.recipe_name.capitalize %></h4>

       <% if recipe.favorite %>
    <div class="card-overview-image" style="position: relative;">
      <%= cl_image_tag recipe.photo.key, alt: "AI-generated image of the recipe", class: "img-defaut card-overview-image" if recipe.photo.attached? %>
      <div style="position: absolute;
                top: 5px;
                right: 5px;
                background: rgba(255, 255, 255, 0.7); /* White with transparency */
                border-radius: 50%; /* Circular background */
                width: 40px; /* Fixed width for perfect circle */
                height: 40px; /* Fixed height for perfect circle */
                display: flex;
                justify-content: center;
                align-items: center;">
        <i class="fa-solid fa-heart coeur icon-couleur-rouge" style="color: red; font-size: 1.2rem;"></i>
      </div>
    </div>
  <% else %>
    <div class="card-overview-image">
      <%= cl_image_tag recipe.photo.key, alt: "AI-generated image of the recipe", class: "img-defaut card-overview-image" if recipe.photo.attached? %>
    </div>
  <% end %>

      <div class="card-overview-container-horizontal">
        <div class="card-overview-container-column-left">
          <div class="card-overview-container-line">
            <i class="fa-solid fa-clock card-overview-icone icon-couleur-bleu"></i>
            <p class="card-overview-text"><%= recipe.preparation_time %> </p>
          </div>
          <div class="card-overview-container-line">
            <i class="fa-solid fa-fire card-overview-icone icon-couleur-bleu"></i>
            <p class="card-overview-text">35 min </p>
          </div>
        </div>
        <div class="card-overview-container-column-right">
          <div class="card-overview-container-line">
            <i class="fa fa-signal card-overview-icone icon-couleur-bleu"></i>
            <p class="card-overview-text"><%= recipe.difficulty.capitalize %></p>
          </div>
          <div class="card-overview-container-line">
            <i class="fa-solid fa-users card-overview-icone icon-couleur-bleu"></i>
            <p class="card-overview-text"><%= recipe.servings %> pers.</p>
          </div>
        </div>
      </div>
      <%= link_to recipe_path(recipe) do %>
        <div class="btn-vert" style="margin-top: 10px; text-align: center">Voir la recette</div>
      <% end %>

  </div>
