
<div class="footer">

<!-- Left-aligned Icons -->
    <div>
      <!-- Search Icon -->
      <%= link_to cookbook_recipes_path, class: "nav-link d-flex align-items-center" do %>
        <i class="fa-solid fa-book-open fa-xl icon-couleur-vert"></i>
      <% end %>
    </div>


  <div data-controller="toggle" class="footer-links">
      <button data-action="click->toggle#fire" class="toggle-button">+</button>
    <div data-toggle-target="togglableElement" class="circle-menu d-none">

      <div class="margin-left">
          <a href="#" data-controller="audio" data-action="click->audio#play" data-audio-file="<%= asset_path('atable.mp3') %>">
             <i class="fa-solid fa-microphone fa-xl icon-couleur-vert"></i>
          </a>
      </div>

      <div>
        <%= link_to new_recipe_path do %>
          <i class="fa-solid fa-pen-to-square fa-xl icon-couleur-vert"></i>
        <% end %>
      </div>

      <div class="margin-right">
        <%= form_with model: Recipe.new, url: recipes_path, local: true, html: { enctype: 'multipart/form-data', data: { controller: "image-upload" } } do |form| %>
          <%= form.file_field :photo, accept: "image/*",id: "upload-photo",
                          data: { action: "change->image-upload#processImage", target: "image-upload.input" },
                          style: "display:none;"%>
         <label for="upload-photo">
          <div data-image-upload-target="icon">
            <i class="fa-solid fa-camera fa-xl icon-couleur-vert"></i>
          </div>
         </label>
        <% end %>
      </div>

    </div>
  </div>

 <!-- Right-aligned Icons -->
    <div>
      <!-- Search Icon -->
      <%= link_to recipes_path, class: "nav-link d-flex align-items-center" do %>
        <i class="fa-solid fa-user-group fa-xl icon-couleur-vert"></i>
      <% end %>
    </div>



</div>
