
<div class="navbar fixed-top navbar-expand-sm navbar-light navbar-lewagon" >
  <div class="container-fluid ">
    <!-- Navbar Brand -->

    <div>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo-update.png", class: "logo-navbar", style: "height: 35px; border-radius: 4px;" %>
      <% end %>
    </div>

    <%# <!-- centered cookbook access -->
      <%= link_to "The ultimate Cookbook", cookbook_recipes_path, class: "btn-bleu text-white nav-link d-flex text-align-center" %>

      <!-- Left-aligned Icons -->
    <div>
      <!-- Search Icon -->
      <%= link_to cookbook_recipes_path, class: "nav-link d-flex align-items-center" do %>
        <i class="fa-solid fa-book-open fa-xl icon-couleur-vert"></i>
      <% end %>
    </div>


        <!-- Right-aligned Icons -->
    <div>
      <!-- Search Icon -->
      <%= link_to recipes_path, class: "nav-link d-flex align-items-center" do %>
        <i class="fa-solid fa-user-group fa-xl icon-couleur-vert"></i>
      <% end %>
    </div>


      <!-- Profile Avatar -->

    <div class="nav-item dropdown mx-2">

  <% if user_signed_in? && current_user.profile_picture.attached? %>
  <%= cl_image_tag current_user.profile_picture.key,
                   transformation: [
                     { width: 100, height: 100, crop: "fill", gravity: "face", radius: "max" }
                   ],
                   class: "avatar dropdown-toggle",
                   id: "navbarDropdown",
                   data: { bs_toggle: "dropdown" },
                   'aria-haspopup': true,
                   'aria-expanded': false,
                   alt: "Profile picture" %>
<% else %>
<%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier",
              class: "avatar dropdown-toggle",
              id: "navbarDropdown",
              data: { bs_toggle: "dropdown" },
              'aria-haspopup': true,
              'aria-expanded': false,
              alt: "Default Profile Picture" %>
<% end %>

      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <% if user_signed_in? %>
              <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
        <% else %>
              <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
        <% end %>
      </div>
    </div>


  </div>
</div>
