<div class="container">
  <h1>My Cookbook</h1>
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <h2><%= link_to recipe.recipe_name, recipe_path(recipe) %></h2>
      <p><strong>Category:</strong> <%= recipe.recipe_category %></p>
      <p><strong>Preparation Time:</strong> <%= recipe.preparation_time.strftime("%M minutes") %></p>
      <p><strong>Difficulty:</strong> <%= recipe.difficulty %></p>
      <%= link_to "Éditer la recette", edit_recipe_path(recipe), class: "btn btn-primary" %>
      <%= link_to "Supprimer la recette", recipe_path(recipe), turbo_method: :delete, data: { confirm: "Êtes vous sûr?" }, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
