<div class="container">
  <h1>SHOW RECIPES</h1>
  <strong>Recette: <em><%= @recipe.recipe_name %> </em></strong></p>
  <p class="paragraph"><strong>Categorie:</strong> <%= @recipe.recipe_category %></p>
  <p class="paragraph"><strong>Synthèse:</strong> <%= @recipe.recipe_overview %></p>
  <p class="paragraph"><strong>Temps de préparation:</strong> <%= @recipe.preparation_time.strftime("%M") %> minutes</p>
  <p class="paragraph"><strong>Difficulté:</strong> <%= @recipe.difficulty %></p>
  <p class="paragraph"><strong>Convives:</strong> <%= @recipe.servings %></p>
  <p class="paragraph"><strong>Étapes à suivre:</strong> <%= @recipe.recipe_steps %></p>
  <p class="paragraph"><strong>Likes:</strong> <%= @recipe.recipe_likes %></p>
  <p class="paragraph"><strong>En favoris:</strong> <%= @recipe.favorite %></p>
  <%= link_to "Editer ma recette", edit_recipe_path, class: "btn btn-primary w-30" %>
  <%= link_to "Toutes les recettes", recipes_path, class: "btn btn-primary w-30" %>
</div>