<div class="container mb-4">

  <div class="tab-content-t">
    <% if @recipe.photo.key %>
    <div class="img-defaut" style="background-image: url('<%= cl_image_path(@recipe.photo.key) %>');
                height: 300px;
                width: 100%;
                background-size: cover;
                background-position: center;
                position: relative;">
        <div style="position: absolute;
                    top: 10px;
                    left: 10px;
                    background: rgba(0, 0, 0, 0.5);
                    color: white;
                    padding: 5px 10px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;">
          <i class="fa-solid fa-thumbs-up" style="margin-right: 5px; color: white;"></i>
          <%# <i class="fa-solid fa-thumbs-up"></i> %>
          <%= @recipe.recipe_likes %>
        </div>
    </div>
    <% end %>


    <br>
    <%# <p class="paragraph"><strong>Likes:</strong> <%= @recipe.recipe_likes %>

    <div class="d-flex justify-content-between align-items-center mx-3">
      <div>
      <h4><strong><% if @recipe.recipe_name %><%= @recipe.recipe_name.capitalize %><% else %><%= @recipe.recipe_name %><% end %></strong></h4>
      <% text = @recipe.user.user_name ? @recipe.user.user_name : "Anonymous User" %>
      <p class="paragraph">By <%= text %></p>
      </div>

      <h2>
        <% if @recipe.favorite %>
          <i class="fa fa-heart text-danger"></i> <!-- Filled red heart -->
        <% else %>
          <i class="fa fa-heart-o" style="color: #444;"></i> <!-- Empty heart -->
        <% end %>
      </h2>
    </div>

  <div class="d-flex justify-content-between align-items-center mx-3">

    <p class="paragraph"><strong><i class="fa-regular fa-clock" style="margin-right: 5px"></i></strong> <%= @recipe.preparation_time %> </p>
    <p class="paragraph"><strong><i class="fa fa-signal" style="margin-right: 5px"></i></strong><% if @recipe.difficulty %><%= @recipe.difficulty.capitalize %><% else %><%= @recipe.difficulty %><% end %></p>
    <p class="paragraph"><strong><i class="fa fa-users" style="margin-right: 5px"></i></strong> <%= @recipe.servings %></p>
  </div>

  <div class="d-flex flex-wrap align-items-start mx-3">
    <p class="paragraph">
      <strong><i class="fa fa-tags" style="margin-right: 5px"></i></strong> <% if @recipe.recipe_category %><%= @recipe.recipe_category.capitalize %><% else %><%= @recipe.recipe_category %><% end %>
      <% if @recipe.tags.any? %>
        , <%= @recipe.tags.map(&:name).join(", ") %>
      <% end %>
    </p>
  </div>



<br>


<div class="tab-content-m">
  <nav>
    <div class="nav nav-tabs flex-nowrap" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Description</button>
      <button class="nav-link" id="nav-ingredients-tab" data-bs-toggle="tab" data-bs-target="#nav-ingredients" type="button" role="tab" aria-controls="nav-ingredients" aria-selected="false">Ingrédients</button>
      <button class="nav-link" id="nav-steps-tab" data-bs-toggle="tab" data-bs-target="#nav-steps" type="button" role="tab" aria-controls="nav-steps" aria-selected="false">Étapes</button>
    </div>
  </nav>
  <br>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"><%= @recipe.recipe_overview %></div>

    <div class="tab-pane fade" id="nav-ingredients" role="tabpanel" aria-labelledby="nav-ingredients-tab">
      <ol>

      <%= raw(@formatted_ingredients) %>
      </ol>
    </div>

    <div class="tab-pane fade" id="nav-steps" role="tabpanel" aria-labelledby="nav-steps-tab">
      <ol>
        <%= raw(@formatted_steps) %>
      </ol>
    </div>
  </div>
</div>
<br>

<div class="mb-5 d-flex justify-content-evenly flex-wrap">
    <%= link_to "Editer", edit_recipe_path, class: "btn-vert", style: "width: 100px" %>
    <%= link_to "Supprimer", recipe_path, data: { turbo_method: :delete, confirm: "Êtes vous sûr?" }, class: "btn-marron", style: "width: 100px" %>
    <%# <%= link_to "Retour", recipes_path, class: "btn-bleu", style: "width: 100px" %>
</div>

<div class="mb-4 d-flex justify-content-center">

    <div data-controller="toggle-share">
      <i data-action="click->toggle-share#fire" class="fa-solid fa-share-nodes fa-2xl px-4" style="color: #0e5f65;"></i>
      <div data-toggle-share-target="togglableElement" class="d-none">
        <%= render "components/share-recipe" %>
      </div>
    </div>

    <div data-controller="toggle-tag">
      <i data-action="click->toggle-tag#fire" class="fa-solid fa-tags fa-2xl px-4" style="color: #0e5f65;" ></i>
      <div data-toggle-tag-target="togglableElement" class="d-none">
        <%= render "components/tag-recipe", recipe: @recipe, tag: @tag %>
      </div>
    </div>

</div>

</div>

    <%# partial for sharing a recipe %>

<br>
      <br>
</div>

</div>
