<div class="container">
  <h1>SHOW INGREDIENT</h1>
  Ingredient: <strong><em><%= @ingredient.ingredient_name %> </em></strong></p>
  <p class="paragraph">Categorie: <%= @ingredient.ingredient_category %></p>
  <p class="paragraph">Calories: <%= @ingredient.calorie %></p>
  <p class="paragraph">Protéines: <%= @ingredient.protein %></p>
  <p class="paragraph">Glucides: <%= @ingredient.glucide %></p>
  <p class="paragraph">Lipides: <%= @ingredient.lipide %></p>
  <p class="paragraph">Fibres: <%= @ingredient.fibre %></p>
</div>