<div class="container">
  <h1>SHOW REVIEW</h1>
  Avis de: <strong><em><%= @review.user_id %> </em></strong></p>
  <p class="paragraph">Recette: <%= @review.recipe_id %></p>
  <p class="paragraph">Commentaire: <%= @review.comment %></p>
  <p class="paragraph">Etoiles: <%= @review.star %></p>
  <p class="paragraph">Faite le: <%= @review.date %></p>
</div>